
NEXT_PUBLIC_SUPABASE_URL= ##supabseurl
NEXT_PUBLIC_SUPABASE_ANON_KEY= ##supabse anion key
SUPABASE_SERVICE_ROLE_KEY= ## supabase service role key
GEMINI_API_KEY1= ## gemeni api key diffrent from key2
GEMINI_API_KEY2= ## gemeni api key diffrent from key1
MEM0_API_KEY= ## mem0 api key

